extends layout

block content
    .w3-card-4
    header.w3-container.w3-cyan
        h1= title
    .w3-container
        ul.w3-ul 
            li
                a(href='/compositores') Listar compositores
            li 
                a(href='/compositores/registo') Inserir um compositor novo 
            li 
                a(href='/periodos') Listar periodos
            li
                a(href='/periodos/registo') Inserir um periodo novo
    footer.w3-container.w3-cyan
        address Generated in EngWeb2024 in #{data}
        
